@model Product

<form id="myForm">
    <div class="mb-3">
        <label class="form-label">Название</label>
        <input type="text" class="form-control" name="name" required>
    </div>

    <label class="form-label">Цена</label>
    <input type="number" class="form-control" name="cost" style="margin-bottom: 15px" required>

    <label class="form-label">Описание товара</label>
    <textarea class="form-control" name="description" rows="15" required></textarea>

    <label class="form-label">Изображение</label>
    <input type="text" class="form-control" name="imgPath" style="margin-bottom: 15px" required>

    <input type="hidden" name="id">

    <button type="submit" class="btn btn-dark">Сохранить</button>
</form>
dd
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script>
$(document).ready(function() {
  $('#myForm').submit(function(e) {
    e.preventDefault();
    $.ajax({
      type: 'POST',
      url: '@Url.Action("AddProduct", "AdminPanel")',
      data: $('#myForm').serialize(),
      error: function() {
        alert('Ошибка при отправке формы');
      }
    });
  });
});
</script>
