
<form method="post">
    <div class="col-3">
        <div class="mb-3">
            <label class="form-label">Номер телефона</label>
            <p><input type="tel" name="phone" placeholder="+7(000)000-00-00" required></p>
        </div>

        <label class="form-label">Email</label>
        <input type="email" class="form-control" name="email" id="email" placeholder="name@example.com" style="margin-bottom: 15px" required>

        <label class="form-label">Повторите Email (только ручной ввод)</label>
        <input type="email" class="form-control" id="repit-email" placeholder="name@example.com" style="margin-bottom: 15px" required>
    </div>

    <button type="submit" class="btn btn-dark" onclick="Accept()">Подтвердить</button>
</form>

<script>
        function Accept() {
            event.preventDefault();
            Swal.fire({
                icon: 'success',
                title: 'Ваш заказ успешно оформлен!',
                showConfirmButton: false,
                timer: 1000
            })
            setTimeout(function () {
                window.location.href="@Url.Action("Buy", "Order")";
            }, 1000);
    }

    document.getElementById("repit-email").addEventListener("paste", function (e) {
        e.preventDefault();
    });
</script>
