@{
    var year = DateTime.Now.Year;
}
<footer class="border-top footer text-muted">
    <div class="container">
        &copy; @year - GameOnlineStore - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
    </div>
</footer>