@model Product 

<h4>Редактирование продукта</h4>

<form method="post">
    <p>Название продукта</p>
    <div class="mb-3 col-4">
        <input type="text" class="form-control" name="name" value="@Model.Name">
    </div>

    <p>Цена</p>
    <div class="mb-3 col-4">
        <input type="number" class="form-control" name="cost" value="@Model.Cost">
    </div>

    <p>Описание</p>
    <div class="mb-3 col-6">
        <textarea style="height:200px" class=" form-control" name="description">@Model.Description</textarea>
    </div>

    <button type="submit" class="btn btn-dark" asp-area="" asp-controller="Admin" asp-action="Index" asp-route-productId="@Model.Id">Сохранить</button>
</form>

