@model List<Order>
<div class="row">
    @await Html.PartialAsync("AdminLeftPanel")
    <div class="col-9">
        <h2>Список заказов</h2>
        <table class="table">
            <thead>
                <tr>
                    <th class="col-1" scope="col">№</th>
                    <th class="col-2" scope="col">Сумма</th>
                    <th class="col-2" scope="col">Статус</th>
                    <th class="col-4" scope="col">Пользователь (логин)</th>
                    <th class="col-2" scope="col">Дата</th>
                    <th class="col-1" scope="col">Время</th>
                </tr>
            </thead>
            <tbody>
                @for (int i = 0; i < Model.Count; i++)
                {
                    var day = "";
                    var month = "";
                    var year = $"{Model[i].OrderTime.Date.Year}"; ;
                    if (Model[i].OrderTime.Date.Day < 10)
                        day = $"0{Model[i].OrderTime.Date.Day}";

                    if (Model[i].OrderTime.Date.Month < 10)
                        month = $"0{Model[i].OrderTime.Date.Month}";

                    var totalCost = Model[i].Items.Sum(q => q.Cost);
                    <tr onclick="redirectToController('@Model[i].Id')">
                        <th scope="row">@(i + 1)</th>
                        <td>@totalCost ₽</td>
                        <td>Создан</td>
                        <td>user@mail.ru</td>
                        <td>@day.@month.@year</td>
                        <td>@Model[i].OrderTime.TimeOfDay.Hours:@Model[i].OrderTime.TimeOfDay.Minutes</td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>

<script>
    function redirectToController(id) {
        window.location.href = '/Order/GetById/' + id;
    }
</script>

