@model List<Order>
<div class="row">
    @await Html.PartialAsync("AdminLeftPanel")
    <div class="col-9">
        <h2>Список заказов</h2>
        <table class="table">
            <thead>
                <tr>
                    <th class="col-1" scope="col">№</th>
                    <th class="col-2" scope="col">Сумма</th>
                    <th class="col-2" scope="col">Статус</th>
                    <th class="col-4" scope="col">Пользователь (логин)</th>
                    <th class="col-2" scope="col">Дата</th>
                    <th class="col-1" scope="col">Время</th>
                </tr>
            </thead>
            <tbody>
                @for (int i = 0; i < Model.Count; i++)
                {
                    var totalCost = Model[i].Items.Sum(q => q.Cost);
                    <tr>
                        <th scope="row">@(i + 1)</th>
                        <td>@totalCost ₽</td>
                        <td>Создан</td>
                        <td>user@mail.ru</td>
                        <td>@Model[i].OrderTime.Date.Day.@Model[i].OrderTime.Date.Month.@Model[i].OrderTime.Date.Year</td>
                        <td>@Model[i].OrderTime.TimeOfDay.Hours:@Model[i].OrderTime.TimeOfDay.Minutes</td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>

