@model List<Role>
<div class="row">
    @await Html.PartialAsync("AdminLeftPanel")
    <div class="col-9">
        <h2>Список ролей</h2>
        <table class="table">
            <thead>
                <tr>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                @for (int i = 0; i < Model.Count; i++)
                {
                    <tr>
                        <td>@Model[i].Name</td>
@*                         <a class="btn btn-dark" onclick="window.location.href='@Url.Action("RemoveRole", "Admin")'">Удалить</a>
 *@                    </tr>
                }
            </tbody>
        </table>
        <a class="btn btn-dark" onclick="window.location.href='@Url.Action("AddNewRole", "Admin")'">Добавить роль</a>
    </div>
</div>
