@model Admin

<h3>Панель администратора</h3>

<ul>
    <li>Заказы</li>
    <li>Пользователи</li>
    <li>Роли</li>
    <li>Продукты</li>
</ul>

<a href="#">Заказы</a>
<a href="#">Пользователи</a>
<a href="#">Роли</a>
<a href="#">Продукты</a>
