<div class="row">
    <div class="col-3">
        <div class="row">
            <a href="@Url.Action("Orders", "Admin")">Заказы</a>
        </div>
        <div class="row">
            <a href="@Url.Action("Users", "Admin")">Пользователи</a>
        </div>
        <div class="row">
            <a href="@Url.Action("Roles", "Admin")">Роли</a>
        </div>
        <div class="row">
            <a href="@Url.Action("Products", "Admin")">Продукты</a>
        </div>
    </div>
    <div class="col-9">
        <h3>Список ролей</h3>
    </div>
</div>



