@model ChangePassword

<h4>Смена пароля</h4>

<form method="post">
    
    <div class="text-danger font-weight-bold" asp-validation-summary="All"></div>

    <input type="hidden" name="login" value="@Model.Login">

    <div class="col mb-3" style="display: flex; flex-direction: column;">
        <label asp-for="Password"></label><br/>
        <input class="form-control" asp-for="Password"/>
        <span asp-validation-for="Password"></span>
    </div>

    <div class="col mb-3" style="display: flex; flex-direction: column;">
        <label asp-for="ConfirmPassword"></label><br/>
        <input class="form-control" asp-for="ConfirmPassword"/>
        <span asp-validation-for="ConfirmPassword"></span>
    </div>

    <button type="submit" class="btn btn-dark" asp-area="Admin" asp-controller="User" asp-action="ChangePassword">Сменить</button>
</form>

