@model Product

<div class="row">

    <div class="col-6">
        <div class="card border-secondary">
            <a class="card-header" href="#">@Model.Name</a>
            <div class="card-body text-secondary">
                <img src="@Url.Content(Model.ImgPath)" class="card-img-top" alt="...">
                <p class="card-text">Цена: @Model.Cost р.</p>
            </div>
            <div class="=row">
                <button>Добавить в корзину</button>
            </div>
        </div>
    </div>
    <div class="col-6 card">
        <p class="card-text">@Model.Description</p>
    </div>
</div>

