
@model List<Product>


<div class="row">
    @foreach (var product in Model)
    {
        <div class="card col-4 border-secondary">
            <h4 class="card-header" onclick="window.location.href='@Url.Action("Index", "Product", new { productId = product.Id })'" style="cursor: pointer">@product.Name</h4>
            <div class="card-body text-secondary">
                <img src="@Url.Content(product.ImgPath)" class="card-img-top" alt="...">
                <p class="card-text">Цена: @product.Cost р.</p>
            </div>
            <div class="=row">
                <button class="btn-dark">Добавить в корзину</button>
            </div>
        </div>
    }
</div>
