
@model List<Product>


<div class="row">
    @foreach (var product in Model)
    {
        <div class="card border-secondary mb-3" style="max-width: 18rem;">
            <h4 class="product-name" onclick="window.location.href='@Url.Action("Index", "Product", new { productId = product.Id })'">@product.Name</h4>
            <div class="card-body text-secondary">
                <img src="..." class="card-img-top" alt="...">
                <p class="card-text">Цена: @product.Cost р.</p>
            </div>
            <div class="=row">
                <button>Добавить в корзину</button>
            </div>
        </div>
    }
</div>
