
<h3>Адрес доставки</h3>
<form>
    <div class="mb-3">
        <input type="text" class="form-control" placeholder="Город, улица, номер дома">
    </div>

    <div class="mb-3 row">
        <div class="col-1">
            <input type="text" class="form-control" placeholder="Подъезд">
        </div>
        <div class="col-1">
            <input type="text" class="form-control" placeholder="Этаж">
        </div>
        <div class="col-1">
            <input type="text" class="form-control" placeholder="Квартира">
        </div>
        <div class="col-1">
            <input type="text" class="form-control" placeholder="Домофон">
        </div>
    </div>
    <div class="mb-3 col-4">
        <textarea class="form-control" id="exampleInputPassword1" placeholder="Комментарий курьеру"></textarea>
    </div>
</form>

<h3>Покупатель</h3>
<form>
    <div class="mb-3 col-5">
        <input type="tel" class="form-control" id="exampleInputPassword1" placeholder="Телефон">
    </div>
    <div class="mb-3 col-5">
        <input type="text" class="form-control" placeholder="Фамилия">
    </div>
    <div class="mb-3 col-5">
        <input type="text" class="form-control" id="exampleInputPassword1" placeholder="Имя">
    </div>
    <div class="mb-3 col-5">
        <input type="email" class="form-control" placeholder="email">
    </div>

    <button type="submit" class="btn btn-dark" onclick="window.location.href='@Url.Action("Buy", "Order")'">Подтвердить</button>
</form>