@model Role

<h4>Создание новой роли</h4>

<form method="post">

    <div class="text-danger font-weight-bold" asp-validation-summary="All"></div>

    <div class="col-4 mb-3" style="display: flex; flex-direction: column;">
        <label asp-for="Name"></label>
        <input class="form-control" asp-for="Name">
        <span asp-validation-for="Name"></span>
    </div>

    <button type="submit" class="btn btn-dark" asp-area="Admin" asp-controller="Role" asp-action="AddNewRole">Сохранить</button>
</form>