@model List<Product>

<h2>Список товаров</h2>

<div class="row">
    @foreach (var product in Model)
    {
        <div class="col card shadow">
            <div class="card-body">
                @* третий параметр в Url.Action должен быть парой ключ/значение. *@
                <h4 class="product-name" onclick="window.location.href='@Url.Action("Index", "Product", new { id = product.Id })'" style="cursor: pointer;">@product.Name</h4>
                <img class="card-img-top" src="@Url.Content(product.ImgPath)" />
                <h5>Цена: @product.Cost руб.</h5>
                <a class="btn btn-dark" role="button" href="/favorite/add?productId=@product.Id">Добавить в избранное</a>
                <a class="btn btn-dark" role="button" href="/cart/add?productId=@product.Id">Добавить в корзину</a>
            </div>
        </div>
        <br />
    }
</div>
